@import url("https://fonts.googleapis.com/css?family=Public+Sans:400&display=swap");

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-thinitalic-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-thinitalic-webfont.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-bolditalic-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-bolditalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-regular-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-blackitalic-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-blackitalic-webfont.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-medium-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-medium-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-lightitalic-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-lightitalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-black-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-black-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-regularitalic-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-regularitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-light-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-bold-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-thin-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/brandontext-mediumitalic-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-mediumitalic-webfont.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}
