body {
  padding: 0;
}

.page {
  &__content {
    min-height: calc(100vh - #{$layout-navbar-height + $molotov-footer-height} - 1px);

    h1, .page__section {
      margin-bottom: 60px;
    }

    .page__section:last-child {
      margin-bottom: 0;
    }

    &.padded {
      padding-top: 1em;
      padding-bottom: 50px;
    }
  }
}

.layout-navbar {
  @extend .container;
}
