@import "fonts";

html {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.muted {
    color: $grey;
}

.img-fit {
    max-width: 100%;
}

.no-break {
    white-space: nowrap;
}
.monospace {
    font-family: monospace;
}
// Use this class when it is required to aling numbers in columns such as in
// tables, invoices, etc.
.tabular-nums {
    font-variant-numeric: tabular-nums;
}
