$one-tick: 0.25s;

$black: #000;
$white: #fff;
$eggshell: #fafafa;
$grey: rgba(0, 0, 0, 0.3);

$locomotion-green: #16a59e;

$primary: #245aea;
$secondary: #576194;
$success: #4fb999;
$warning: #f9ca51;
$danger: #e2738a;
$info: #576194;
$light: #f8f9fa;
$dark: #343a40;

$base-font-size: 16px;

$layout-navbar-height: 86px;
$molotov-footer-height: 44px;

$theme-colors: (
  "locomotion": $locomotion-green,
);

// font-size is defined in _typography.scss
$line-height-base: 1.2;
$nav-link-padding-y: 0.5rem;

$enable-shadows: true;

// Keep sorted below this line
//$b-toaster-offset-top: $layout-navbar-height + ($base-font-size / 2);
$dropdown-box-shadow: 2px 2px 4px rgba($black, 0.12);
$dropdown-link-hover-bg: rgba($locomotion-green, 0.08);
$dropdown-link-active-bg: $locomotion-green;
$font-family-sans-serif: BrandonText, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$navbar-brand-font-size: 1.6rem;
$navbar-light-color: $black;
$navbar-light-active-color: $black;
$navbar-light-brand-color: $locomotion-green;
$navbar-light-brand-hover-color: $locomotion-green;
$navbar-light-hover-color: $locomotion-green;
