@import "~bootstrap";
@import "~bootstrap-vue";
@import "vue-select/src/scss/vue-select.scss";

@import "layout";
@import "typography";
@import "type";
@import "icons";

@import "components/alert";
@import "components/buttons";
@import "components/form";
@import "components/header";
@import "components/jumbotron";
@import "components/loanactions";
@import "components/navbar";
@import "components/pagination";
@import "components/partners-section";
@import "components/table";
@import "components/badges";
@import "components/tabs";

@import "pages/home";
