@import "variables";

@import "~bootstrap";
@import "~bootstrap-vue";

@import "layout";
@import "typography";

@import "components/badge";
@import "components/buttons";
@import "components/pagination";
@import "components/table";
@import "components/form";
@import "components/loanactions";
