@import "~bootstrap/scss/mixins/breakpoints";

@import "tools/font-size";
@import "tools/letter-spacing";
@import "tools/position";
@import "tools/rem";
@import "tools/size";
@import "tools/space";

.leading-4 {
    line-height: 1rem;
}
.leading-5 {
    line-height: 1.25rem;
}
.leading-6 {
    line-height: 1.5rem;
}
