.env
/node_modules
/public/hot
/public/storage
/public/app
/public/fonts
/storage/oauth*
/vendor
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
storage
.devcontainer
.vscode
psql/requests
