.env
/coverage-html
/node_modules
/public/hot
/public/storage
/public/app
/public/fonts
/storage/oauth*
/vendor
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
storage
.devcontainer
psql/requests
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# IDE Config
.vscode/
.idea/
