version: "3.6"
services:
  php:
    build:
      context: .
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app
      - .env.docker:/app/.env
    ports: 
      - 8000:8000
    environment:
      APP_ENV: local
      APP_KEY: base64:QV7VlghMwXOXokIRP1ARpfEuyIF46hfYC/Y/lxFxdVc=
      APP_DEBUG: "true"
      APP_URL: http://localhost
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: locomotion
      DB_USERNAME: locomotion
      DB_PASSWORD: locomotion
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: null
      MAIL_DRIVER: log
      PASSWORD_CLIENT_ID: pTrmRvquBD6mXlep
      PASSWORD_CLIENT_SECRET: 1hu8xmgtXI8O6HRH4zIbRt92X6rSLCgY6NtTNyxN
      WAIT_HOSTS: postgres:5432, redis:6379
      WAIT_HOSTS_TIMEOUT: 120
  vue:
    depends_on:
      - php
    build:
      context: ./resources/app
      target: dev
    volumes: 
      - ./resources/app:/app
    ports:
      - 8080:8080
    environment: 
      SERVER_URL: http://php:8000
      APP_URL: localhost:8080
  postgres:
    build:
      context: psql
    volumes: 
      - postgres-data:/var/lib/postgresql/data
      - ./psql/init:/docker-entrypoint-initdb.d
    ports: 
      - 5432:5432
    environment:
      POSTGRES_DB: locomotion
      POSTGRES_PASSWORD: locomotion
      POSTGRES_USER: locomotion
  redis:
    image: redis
    ports: 
      - 6379:6379

volumes:
  postgres-data:

