version: "3.6"
services:
    php:
        build:
            context: .
            target: dev
        depends_on:
            - postgres
        volumes:
            - .:/var/www/html
            - ./php.ini:/usr/local/etc/php/php.ini
        ports:
            - 8000:80
        secrets:
            - source: oauth-private
              target: /var/secret/oauth-private
            - source: oauth-public
              target: /var/secret/oauth-public
        environment:
            LOG_CHANNEL: stderr
            APP_ENV: local
            APP_KEY: base64:QV7VlghMwXOXokIRP1ARpfEuyIF46hfYC/Y/lxFxdVc=
            APP_DEBUG: "true"
            FRONTEND_URL: http://localhost:8080
            BACKEND_URL_FROM_BROWSER: http://localhost:8000 #this is the url that the browser uses to call us
            DB_HOST: postgres
            DB_PORT: 5432
            DB_CONNECTION: pgsql
            DB_DATABASE: locomotion
            DB_USERNAME: locomotion
            DB_PASSWORD: locomotion
            ENABLE_TEST_ROUTES: "true"
            MAIL_DRIVER: log
            PASSWORD_CLIENT_ID: BCZZHm4YsI14Rum2
            PASSWORD_CLIENT_SECRET: uK6RMfHwnnSsFcia641MtbaSaopbRzhwqXs1GIjJ
            FILESYSTEM_DRIVER: s3
            S3_DRIVER: minio
            S3_KEY: locomotion
            S3_SECRET: locomotion
            S3_REGION: canada
            S3_BUCKET: locomotion
            S3_URL: http://minio:9000
            GOOGLE_CLIENT_ID: 406326292737-7hbogvat3i32ungfngc8f0qn56cudbqr.apps.googleusercontent.com #dev id
            GOOGLE_CLIENT_SECRET: 3M4rv8_3L6iL7AcCcuN6nJsa # dev secret
            GOOGLE_REDIRECT: http://localhost:8000/auth/callback
            REDIS_HOST: redis
            REDIS_PORT: 6379
            REDIS_PASSWORD: null
            CACHE_DRIVER: redis
            OAUTH_PRIVATE_PATH: /var/secret/oauth-private
            OAUTH_PUBLIC_PATH: /var/secret/oauth-public
            QUEUE_CONNECTION: redis
            STRIPE_KEY: pk_test_4lBQS366h37TcBC9IAvCaDEL00K5H3B8LH
            STRIPE_SECRET: sk_test_9wI77kB8C1XR5EqkJTMdNEac00SomF64a1
    vue:
        depends_on:
            - php
        build:
            context: ./resources/app
            target: dev
        volumes:
            - ./resources/app:/app
        ports:
            - 8080:80
        environment:
            VUE_APP_STRIPE_KEY: pk_test_4lBQS366h37TcBC9IAvCaDEL00K5H3B8LH
            VUE_APP_BACKEND_URL: http://localhost:8000
            BACKEND_URL: http://php:80
            VUE_APP_FRONTEND_URL: localhost:8080
            PORT: 80
    postgres:
        build:
            context: psql
        volumes:
            - postgres-data:/var/lib/postgresql/data
            - ./psql/init:/docker-entrypoint-initdb.d
        ports:
            - 5432:5432
        environment:
            POSTGRES_DB: locomotion
            POSTGRES_PASSWORD: locomotion
            POSTGRES_USER: locomotion
    minio:
        image: minio/minio
        ports:
            - 9000:9000
            - 9001:9001
        volumes:
            - minio-data:/data
        environment:
            MINIO_ROOT_USER: locomotion
            MINIO_ROOT_PASSWORD: locomotion
        command: minio server --console-address :9001 /data
    redis:
        image: redis
        ports:
            - 6379:6379

volumes:
    postgres-data:
    minio-data:
secrets:
    oauth-private:
        file: ./secrets/oauth-private-dev.key
    oauth-public:
        file: ./secrets/oauth-public-dev.key
