version: "3.6"
services:
    php:
        build:
            context: .
            target: ${DOCKER_BUILD_ENV:-dev}
        depends_on:
            - postgres
        volumes:
            - .:/var/www/html
        ports:
            - 8000:80
        secrets:
            - source: oauth-private
              target: /var/secret/oauth-private
            - source: oauth-public
              target: /var/secret/oauth-public
        environment:
            LOG_CHANNEL: stderr
            APP_ENV: local
            APP_KEY: base64:QV7VlghMwXOXokIRP1ARpfEuyIF46hfYC/Y/lxFxdVc=
            APP_DEBUG: "true"
            APP_TIMEZONE: ${APP_TIMEZONE}
            FRONTEND_URL: http://localhost:8080
            BACKEND_URL_FROM_BROWSER: http://localhost:8000 #this is the url that the browser uses to call us
            DB_HOST: postgres
            DB_PORT: 5432
            DB_CONNECTION: pgsql
            DB_DATABASE: locomotion
            DB_USERNAME: locomotion
            DB_PASSWORD: locomotion
            MANDRILL_KEY: ${MANDRILL_KEY}
            MANDRILL_SUBACCOUNT: ${MANDRILL_SUBACCOUNT}
            ENABLE_TEST_ROUTES: "true"
            MAIL_DRIVER: ${MAIL_DRIVER:-log}
            MAIL_HOST: ${MAIL_HOST}
            MAIL_PORT: ${MAIL_PORT}
            MAIL_USERNAME: ${MAIL_USERNAME}
            MAIL_PASSWORD: ${MAIL_PASSWORD}
            MAIL_ENCRYPTION: ${MAIL_ENCRYPTION}
            PASSWORD_CLIENT_ID: ${PASSWORD_CLIENT_ID}
            PASSWORD_CLIENT_SECRET: ${PASSWORD_CLIENT_SECRET}
            FILESYSTEM_DRIVER: s3
            S3_DRIVER: minio
            S3_KEY: locomotion
            S3_SECRET: locomotion
            S3_REGION: canada
            S3_BUCKET: locomotion
            S3_URL: http://minio:9000
            GOOGLE_API_KEY: ${GOOGLE_API_KEY}
            GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
            GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
            GOOGLE_REDIRECT: http://localhost:8000/auth/callback
            CACHE_DRIVER: database
            OAUTH_PRIVATE_PATH: /var/secret/oauth-private
            OAUTH_PUBLIC_PATH: /var/secret/oauth-public
            QUEUE_CONNECTION: database
            STRIPE_KEY: ${STRIPE_KEY}
            STRIPE_SECRET: ${STRIPE_SECRET}
            MAILCHIMP_SERVER_PREFIX:
            MAILCHIMP_KEY:
            MAILCHIMP_LIST_ID:
            MATTERMOST_MAIN_HOOK_URL:
            MATTERMOST_DEFAULT_CHANNEL: test
    vue:
        depends_on:
            - php
        build:
            context: ./resources/app
            target: ${DOCKER_BUILD_ENV:-dev}
        volumes:
            - ./resources/app:/app
        ports:
            - 8080:80
        environment:
            BACKEND_URL: http://php:80
            PORT: 80
            VUE_APP_BACKEND_URL: http://localhost:8000
            VUE_APP_FRONTEND_URL: localhost:8080
            VUE_APP_GA_MEASUREMENT_ID:
            VUE_APP_GOOGLE_MAPS_API_KEY: ${GOOGLE_API_KEY}
            VUE_APP_STRIPE_KEY: ${STRIPE_KEY}
    postgres:
        build:
            context: psql
        volumes:
            - postgres-data:/var/lib/postgresql/data
            - ./psql/init:/docker-entrypoint-initdb.d
        ports:
            - 5432:5432
        environment:
            POSTGRES_DB: locomotion
            POSTGRES_PASSWORD: locomotion
            POSTGRES_USER: locomotion
        # command: ["postgres", "-c", "log_statement=all"]
    minio:
        image: minio/minio
        ports:
            - 9000:9000
            - 9001:9001
        volumes:
            - minio-data:/data
        environment:
            MINIO_ROOT_USER: locomotion
            MINIO_ROOT_PASSWORD: locomotion
        command: minio server --console-address :9001 /data
    createbuckets:
        image: minio/mc
        depends_on:
            - minio
        entrypoint: >
            /bin/sh -c "
            /usr/bin/mc config host add myminio http://minio:9000 locomotion locomotion;
            /usr/bin/mc mb myminio/locomotion;
            exit 0;
            "

volumes:
    postgres-data:
    minio-data:
secrets:
    oauth-private:
        file: ./secrets/oauth-private-dev.key
    oauth-public:
        file: ./secrets/oauth-public-dev.key
