version: "3.6"
services:
  php:
    build:
      context: .
    volumes:
      - .:/app
      - .env.docker:/.env
    ports: 
      - 8000:8000
    environment:
      APP_ENV: docker
  vue:
    build:
      context: ./resources/app
      target: dev
    volumes: 
      - ./resources/app:/app
    ports:
      - 8080:8080
    environment: 
      SERVER_URL: http://php:8000
      APP_URL: localhost:8080
  postgres:
    build:
      context: psql
    volumes: 
      - postgres-data:/var/lib/postgresql/data
      - ./psql/init:/docker-entrypoint-initdb.d
    ports: 
      - 5432:5432
    environment: 
      POSTGRES_DB: locomotion
      POSTGRES_PASSWORD: locomotion
      POSTGRES_USER: locomotion
  redis:
    image: redis
    ports: 
      - 6379:6379

volumes:
  postgres-data:

