version: "3.6"
services:
    php:
        build:
            context: .
            target: dev
        depends_on:
            - postgres
        volumes:
            - .:/app
            - .env.docker:/app/.env
            - ./docker-dev-entrypoint.sh:/entrypoint.d/docker-dev-entrypoint.sh
        ports:
            - 8000:80
        secrets:
            - source: oauth-private
              uid: '1000'
              mode: '1777'
              target: /app/storage/oauth-private
            - source: oauth-public
              uid: '1000'
              mode: '1777'
              target: /app/storage/oauth-public
        environment:
            LOG_CHANNEL: stderr
            APP_ENV: local
            APP_KEY: base64:QV7VlghMwXOXokIRP1ARpfEuyIF46hfYC/Y/lxFxdVc=
            APP_DEBUG: "true"
            FRONTEND_URL: http://localhost:8080
            BACKEND_URL_FROM_BROWSER: http://localhost:8000 #this is the url that the browser uses to call us
            DB_HOST: postgres
            DB_PORT: 5432
            DB_CONNECTION: pgsql
            DB_DATABASE: locomotion
            DB_USERNAME: locomotion
            DB_PASSWORD: locomotion
            ENABLE_TEST_ROUTES: "true"
            MAIL_DRIVER: log
            PASSWORD_CLIENT_ID: pTrmRvquBD6mXlep
            PASSWORD_CLIENT_SECRET: 1hu8xmgtXI8O6HRH4zIbRt92X6rSLCgY6NtTNyxN
            FILESYSTEM_DRIVER: s3
            S3_DRIVER: minio
            S3_KEY: locomotion
            S3_SECRET: locomotion
            S3_REGION: canada
            S3_BUCKET: locomotion
            S3_URL: http://minio:9000
            GOOGLE_CLIENT_ID: 406326292737-7hbogvat3i32ungfngc8f0qn56cudbqr.apps.googleusercontent.com #dev id
            GOOGLE_CLIENT_SECRET: 3M4rv8_3L6iL7AcCcuN6nJsa # dev secret
            GOOGLE_REDIRECT: http://localhost:8000/auth/callback
            REDIS_HOST: redis
            REDIS_PORT: 6379
            REDIS_PASSWORD: null
            OAUTH_PRIVATE_PATH: /app/storage/oauth-private
            OAUTH_PUBLIC_PATH: /app/storage/oauth-public
            QUEUE_CONNECTION: redis
    vue:
        depends_on:
            - php
        build:
            context: ./resources/app
            target: dev
        volumes:
            - ./resources/app:/app
        ports:
            - 8080:80
        environment:
            VUE_APP_BACKEND_URL: http://localhost:8000
            BACKEND_URL: http://php:80
            VUE_APP_FRONTEND_URL: localhost:8080
            PORT: 80
    postgres:
        build:
            context: psql
        volumes:
            - postgres-data:/var/lib/postgresql/data
            - ./psql/init:/docker-entrypoint-initdb.d
        ports:
            - 5432:5432
        environment:
            POSTGRES_DB: locomotion
            POSTGRES_PASSWORD: locomotion
            POSTGRES_USER: locomotion
    minio:
        image: minio/minio
        ports:
            - 9000:9000
            - 9001:9001
        volumes:
            - minio-data:/data
        environment:
            MINIO_ROOT_USER: locomotion
            MINIO_ROOT_PASSWORD: locomotion
        command: minio server --console-address :9001 /data
    redis:
        image: redis
        ports:
            - 6379:6379

volumes:
    postgres-data:
    minio-data:
secrets:
    oauth-private:
        file: ./secrets/oauth-private-dev.key
    oauth-public:
        file: ./secrets/oauth-public-dev.key
