ip: 192.168.10.10
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: /Users/locomotion/Sites/locomotion.app/homestead
        to: /home/vagrant/code
sites:
    -
        map: locomotion.local
        to: /home/vagrant/code/public
databases:
    - locomotion
features:
    -
        mariadb: false
    -
        ohmyzsh: false
    -
        webdriver: false
name: locomotion.local
hostname: homestead
variables:
    -
        key: IS_HOMESTEAD
        value: 1
    -
        key: APP_ENV
        value: local
    -
        key: DB_HOST
        value: 127.0.0.1
    -
        key: DB_DATABASE
        value: locomotion
    -
        key: DB_USERNAME
        value: homestead
    -
        key: DB_PASSWORD
        value: secret
    -
        key: FRONTEND_URL
        value: 'http://locomotion.local:8080/'
    -
        key: VUE_APP_GOOGLE_MAPS_API_KEY
        value: AIzaSyBJh_eLm28n5u4eQUq3aYije8VgXAd7Mlw
    -
        key: VUE_APP_API_URL
        value: 'http://locomotion.local:8000/api'
    -
        key: VUE_APP_STRIPE_KEY
        value: pk_test_4lBQS366h37TcBC9IAvCaDEL00K5H3B8LH
    -
        key: VUE_APP_MATOMO_HOST
        value: ''
    -
        key: VUE_APP_MATOMO_SITEID
        value: ''
