.btn-google {
    padding: 3px 18px 3px 3px;

    &__icon {
        padding: 7px;
        background: $white;
        border-radius: 4px;
        display: inline-block;
        margin-right: 13px;
    }
}

.btn-outline-light {
    color: darken($light, 40);
}

.btn-white-secondary {
    color: $secondary;
    background: $white;
    border: 0;
}

.clickable-shadow {
    @extend .shadow;

    &:active,
    &:focus {
        @extend .shadow-none;
    }
}

.btn-search-vehicule {
    width: 300px;
    margin: 0;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 16px, 16px, 16px, 45px;
    color: #7a7a7a;

    &__text {
        text-align: justify;
    }
}
.btn-search-vehicule:hover {
    background: #fff;
    padding: 16px, 16px, 16px, 45px;
    color: #7a7a7a;
}

.btn-toggle {
    display: flex;
    align-items: center;
    justify-content: end;
    color:#7a7a7a;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin: 0;
}

.btn-toggle:hover {
    color:#7a7a7a;
    background: #fff;
    border: 1px solid #e5e5e5;
}

.btn-modify-search {
    color: #4440ff;
}
