.card {
  border: 0;
  margin-bottom: 10px;

  &-title {
    color: $locomotion-green;
    font-weight: bold;
  }

  &-body {
    .form-group {
      legend {
        font-weight: bold;
      }
    }
  }
}
