.dashboard {
  .page__section {
    &__main {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  .page__content {

    .main-faq {
      padding-top: 65px;
      padding-bottom: 65px;
      margin-bottom: 0;
    }

    .partners-section {
      margin-top: 0;
      margin-bottom: 80px;
    }
  }

  &__vehicles {
    .loanable-info-box {
      margin-bottom: 20px;
    }
  }

  .title {
    &__main {
      margin-bottom: 5px;
    }

    line-height: $h3-line-height;
    font-size: $h3-font-size;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .subtitle {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
  }

  @include media-breakpoint-up(lg) {
    .title {
      line-height: $h1-line-height;
      font-size: $h1-font-size;
    }

    .subtitle {
      line-height: $h3-line-height;
      font-size: $h3-font-size;
    }
  }
}
