.form {
  &__section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey;

    > h2 {
      margin-bottom: 1rem;
    }
  }

  .vtimeselector__input {
    @extend .form-control;

    &.form-control[readonly]:not([disabled]) {
      background-color: $white;
    }
  }
}
