.form {
  &__section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey;

    > h2 {
      margin-bottom: 1rem;
    }
  }

  .vtimeselector__input {
    @extend .form-control;

    &.form-control[readonly]:not([disabled]) {
      background-color: $white;
    }
  }

  .StripeElement {
    &--focus {
      border-color: $primary;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
      transition: border-color $one-tick ease-in-out, box-shadow $one-tick ease-in-out;
    }

    &--complete {
      @extend .is-valid;
    }

    &--invalid {
      @extend .is-invalid;
    }
  }
}
