@import "@/assets/scss/tools";

.layout-header {
    &__navbar {
        border-bottom: 1px solid $light-grey;
        @include size(
            "height",
            $layout-navbar-height-mobile,
            "",
            "",
            $layout-navbar-height
        );

        background-color: $eggshell;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__communities-navbar {
        background-color: $main-bg;
        font-weight: bold;

        .navbar {
            padding: 2rem 0 0;
            border-bottom: 1px solid $light-grey;
            .nav-link {
                &:hover, &.active {
                    color: $primary;
                }
                border-bottom: solid 3px transparent;
                font-size: 1.2rem;
                &.active {
                    border-bottom-color: $primary;
                }
            }
        }
    }
}
