@import "@/assets/scss/tools";

.layout-header {
  border-bottom: 1px solid $light-grey;

  &__navbar {
    @include size("height", $layout-navbar-height-mobile, "", "", $layout-navbar-height);

    background-color: $eggshell;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
