.loan-actions {
  .card-body {
    padding: 0;

    > div {
      padding: 1.25rem;
    }
  }

  &__header {
    &.card-header {
      background-color: transparent;
      cursor: pointer;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    line-height: 43px;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 28px;
      margin-bottom: 0;

      svg {
        margin-right: 30px;
        width: 39px;
        height: 39px;
      }
    }

    span {
      font-size: 13px;
    }
  }
}
