body {
    padding: 0;
}

.page {
    &__content {
        min-height: calc(100vh - #{$layout-navbar-height} - 1px);

        @include media-breakpoint-down(md) {
            min-height: calc(100vh - #{$layout-navbar-height-mobile} - 1px);
        }

        .page__section {
            margin-bottom: 60px;
        }

        .page__section:last-child {
            margin-bottom: 0;
        }

        &.padded {
            padding-top: 45px;
            padding-bottom: 45px;
        }

        &.with-tiled-bg {
          background-image: url("../bg-tile-20.png");
        }

        &.green {
          background-color: $locomotion-green;
        }

        &.centered {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
    }

    &__background {
      background-color: $main-bg;
    }
}

.box {
  background-color: $white;
  padding: 30px $grid-gutter-width / 2 30px;
  max-width: 100%;
  border-radius: 10px;
  &.fixed-width {
    width: 590px;
    margin: 0 auto;
    border-radius: 20px;
  }
  &.centered {
    text-align: center;
  }
}

.layout-navbar {
    @extend .container;
}

.row.md-stack {
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
}
.row.sm-stack {
    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}
