@import "~bootstrap";
@import "~bootstrap-vue";
@import "vue-select/src/scss/vue-select.scss";

@import "layout";
@import "../../../scss/typography";
@import "../../../scss/type";
@import "../../../scss/icons";

@import "components/alert";
@import "../../../scss/components/buttons";
@import "../../../scss/components/form";
@import "../../../scss/components/header";
@import "../../../scss/components/jumbotron";
@import "../../../scss/components/loanactions";
@import "../../../scss/components/navbar";
@import "../../../scss/components/pagination";
@import "../../../scss/components/partners-section";
@import "../../../scss/components/table";
@import "components/badges";

@import "../../../scss/pages/home";
