.page.home {
  .card {
    border: 0;
    margin-bottom: 10px;

    &-title {
      color: $locomotion-green;
      font-weight: bold;
    }

    &-body {
      .form-group {
        legend {
          font-weight: bold;
        }
      }
    }
  }

  .page__content {
    overflow: hidden;
  }

  .page__section {
    @include space("padding-top", 36px, "", "", 65px);
    @include space("padding-bottom", 36px, "", "", 65px);
  }

  .page__section__title {
    @include font-size(28px, "", "", 50px);
    color: $secondary;
  }

  p {
    color: $secondary;
    @include font-size(18px, "", "", 20px);
  }

  .dashboard-covid-section {
    text-align: center;

    p {
      color: inherit;
    }
  }

  .page__section--top {
    height: calc(100vh - #{$layout-navbar-height});
    min-height: 604px;
    background: url("/home-top.jpg") center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    @include space("padding-bottom", 122px, "", "", 80px);

    margin-bottom: 0;

    .page__section__title {
      color: $white;
      @include font-size(36px, "", "", 65px);
      @include space("margin-bottom", 20px, "", "", 0);
    }

    .wave-svg {
      position: absolute;
      bottom: 0;
      height: auto;
      left: 0;
      width: 100%;
    }

    .wave-dot {
      position: absolute;
      z-index: 2;
      bottom: 50px;
      width: 100%;
      height: auto;
      left: 0;
      @include position("bottom", 50px, "", "", 165px);
    }

    .container {
      position: relative;
      z-index: 3;
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }

    .btn {
      margin-right: 10px;
    }
  }

  .page__section--hero {
    text-align: center;

    p {
      color: $secondary;
      @include font-size(22px, "", "", 30px);
      max-width: 611px;
      margin-left: auto;
      margin-right: auto;
    }

    svg {
      margin: 0 auto;
    }
  }

  .page__section--what-is-it {
    background: #f5f8fb;
    margin-bottom: 0;
    text-align: center;
    @include space("padding-bottom", 136px, "", "", 65px);

    .page__section__title {
      @include space("margin-bottom", 15px, "", "", 30px);
    }

    p {
      max-width: 250px;
      margin: 20px auto;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        text-align: center;
      }

    }

    .svg-lend {
      max-width: 229px;
    }

    .svg-borrow {
      max-width: 248px;
    }

  }

  .page__section--participants {
    background: #1e4847;
    text-align: center;
    @include space("padding-top", 65px, "", "", 100px);
    @include space("padding-bottom", 90px, "", "", 100px);

    .container {
      position: relative;
      z-index: 2;
    }

    .page__section__title {
      color: $white;
    }

    .page__section--participants__photos {
      @include size("max-width", 90%, "", "", 490px);
      @include space("margin", -125px auto 30px, "", "", 0 auto);
    }

    .page__section--participants__photo {
      padding: 0 5px;
    }

    p {
      color: $white;
      max-width: 375px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      max-width: 100%;
      height: auto;
    }

  }

  .page__section--community {
    background: none;
    text-align: center;

    p {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    .svg-community {
      position: relative;
      pointer-events: none;
      @include size("width", 283px, "", "", 820px);
      @include space("margin-top", -150px, "", "", -260px);
      @include position("left", 0, "", "", -10vw );
    }
  }

  .page__section--faq {
    background: #f5f8fb;
    position: relative;
    margin: 0;

    .container {
      max-width: 700px;
      z-index: 2;
      position: relative;
    }

    .page__section__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 35px;
    }

    .svg-footer {
      @extend .d-none;
      @extend .d-lg-block;
      position: absolute;
      right: 10vw;
      bottom: 0;
    }

    .card-header {
      margin: 0;
      padding: 0;
    }
  }

  .page__section--footer {
    height: 136px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;

    svg {
      position: absolute;
      left: 0;
      bottom: 30px;
    }
  }
}
