apiVersion: v1
kind: Service
metadata:
  name: api
  labels:
    app: laravel
spec:
  selector:
    app: laravel
  ports:
    - port: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      annotations:
        rollme: v1
      labels:
        app: laravel
    spec:
      initContainers:
        - name: createextension
          image: registry.gitlab.com/mobicoop/colocauto/colocauto/database:latest
          command: ["/bin/sh"]
          args: ["-c", "psql --username=colocauto --dbname=colocauto --host=db -c 'CREATE EXTENSION IF NOT EXISTS postgis;' -c 'CREATE EXTENSION IF NOT EXISTS unaccent;' -c 'CREATE EXTENSION IF NOT EXISTS citext;'"]
          env:
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                key: database.password
                name: colocauto-secret
      containers:
        - name: api
          image: registry.gitlab.com/mobicoop/colocauto/colocauto/api:latest
          ports:
            - containerPort: 80
          env:
          - name: APP_NAME
            value: ColocAuto
          - name: APP_TIMEZONE
            value: Europe/Paris
          - name: LOG_CHANNEL
            value: stack
          - name: BROADCAST_DRIVER
            value: log
          - name: SESSION_DRIVER
            value: array
          - name: SESSION_LIFETIME
            value: '120'
          - name: DB_HOST
            value: db
          - name: DB_PORT
            value: '5432'
          - name: DB_CONNECTION
            value: pgsql
          - name: ENABLE_TEST_ROUTES
            value: "true"
          - name: MAIL_DRIVER
            valueFrom:
              configMapKeyRef:
                key: mail.driver
                name: colocauto-config
          - name: MANDRILL_KEY
            valueFrom:
              secretKeyRef:
                key: mandrill.key
                name: colocauto-secret
          - name: MANDRILL_SUBACCOUNT
            valueFrom:
              configMapKeyRef:
                key: mandrill.subaccount
                name: colocauto-config
          - name: CACHE_DRIVER
            value: database
          - name: DB_DATABASE
            valueFrom:
              secretKeyRef:
                key: database.name
                name: colocauto-secret
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                key: database.user
                name: colocauto-secret
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                key: database.password
                name: colocauto-secret
          - name: PASSWORD_CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: passport.clientId
                name: colocauto-secret
          - name: PASSWORD_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                key: passport.clientSecret
                name: colocauto-secret
          - name: APP_ENV
            valueFrom:
              configMapKeyRef:
                key: env
                name: colocauto-config
          - name: APP_KEY
            valueFrom:
              configMapKeyRef:
                key: key
                name: colocauto-config
          - name: APP_DEBUG
            valueFrom:
              configMapKeyRef:
                key: debug
                name: colocauto-config
          - name: FRONTEND_URL
            valueFrom:
              configMapKeyRef:
                key: url.frontend
                name: colocauto-config
          - name: BACKEND_URL_FROM_BROWSER
            valueFrom:
              configMapKeyRef:
                key: url.backend
                name: colocauto-config
          - name: MAIL_FROM_ADDRESS
            valueFrom:
              configMapKeyRef:
                key: mail.fromAddress
                name: colocauto-config
          - name: MAIL_FROM_NAME
            valueFrom:
              configMapKeyRef:
                key: mail.fromName
                name: colocauto-config
          - name: GOOGLE_API_KEY
            valueFrom:
              configMapKeyRef:
                key: google.apiKey
                name: colocauto-config
          - name: GOOGLE_CLIENT_ID
            valueFrom:
              configMapKeyRef:
                key: google.clientId
                name: colocauto-config
          - name: GOOGLE_CLIENT_SECRET
            valueFrom:
              configMapKeyRef:
                key: google.clientSecret
                name: colocauto-config
          - name: GOOGLE_REDIRECT
            valueFrom:
              configMapKeyRef:
                key: google.redirect
                name: colocauto-config
          - name: FILESYSTEM_DRIVER
            value: s3
          - name: S3_DRIVER
            value: minio
          - name: S3_KEY
            valueFrom:
              secretKeyRef:
                key: minio.user
                name: colocauto-secret
          - name: S3_SECRET
            valueFrom:
              secretKeyRef:
                key: minio.password
                name: colocauto-secret
          - name: S3_REGION
            value: france
          - name: S3_BUCKET
            value: colocauto
          - name: S3_URL
            value: http://minio:9000
          - name: OAUTH_PRIVATE_PATH
            value: /var/secret/oauth-private
          - name: OAUTH_PUBLIC_PATH
            value: /var/secret/oauth-public
          - name: QUEUE_CONNECTION
            value: database
          volumeMounts:
          - name: oauth
            mountPath: "/var/secret/"
            readOnly: true
      volumes:
        - name: oauth
          secret:
            defaultMode: 420
            secretName: oauth-keys
