apiVersion: v1
kind: Service
metadata:
  name: app
  labels:
    app: vue
spec:
  selector:
    app: vue
  ports:
    - port: 80
      name: http
      targetPort: 8080
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-app
spec:
  ingressClassName: nginx
  rules:
  - host: dev.colocauto.org
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: app
            port:
              number: 80
      - path: /api
        pathType: ImplementationSpecific
        backend:
          service:
            name: api
            port:
              number: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  labels:
    name: vue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vue
  template:
    metadata:
      name: vue
      labels:
        app: vue
    spec:
      containers:
      - name: app
        image: registry.gitlab.com/mobicoop/colocauto/colocauto/vue:v2022-11-07bis
        imagePullPolicy: Always
        ports:
          - name: vue
            containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: BACKEND_URL
          value: http://api:80
        - name: VUE_APP_FRONTEND_URL
          valueFrom:
            configMapKeyRef:
              key: url.frontend
              name: colocauto-config
        - name: VUE_APP_BACKEND_URL
          valueFrom:
            configMapKeyRef:
              key: url.backend
              name: colocauto-config
        - name: VUE_APP_GOOGLE_MAPS_API_KEY
          valueFrom:
            configMapKeyRef:
              key: google.apiKey
              name: colocauto-config
      restartPolicy: Always

