kind: PersistentVolume
apiVersion: v1
metadata:
  name: database-pv-volume
  labels:
    type: local
    app: postgres
spec:
  storageClassName: csi-cinder-high-speed
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: database-pv-claim
  labels:
    app: postgres
spec:
  storageClassName: csi-cinder-high-speed
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: db
  labels:
    app: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: database
          image: registry.gitlab.com/mobicoop/colocauto/colocauto/database:latest
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  key: database.name
                  name: colocauto-secret
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: database.user
                  name: colocauto-secret
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database.password
                  name: colocauto-secret
          volumeMounts:
            - mountPath: /var/lib/postgresql/colocauto
              name: database-volume
      volumes:
        - name: database-volume
          persistentVolumeClaim:
            claimName: database-pv-claim

