.alert {
    p:last-child {
        margin-bottom: 0;
    }
}

.note {
    background-color: $background-alert-informative;
    border-color: $background-alert-informative;
    color: $content-alert-informative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 14px;
    gap: 20px;
    svg, img {
        flex-shrink: 0;
    }
    p {
        margin-bottom: 0;
    }
}

@include media-breakpoint-up(sm) {
    .note {
        flex-direction: row;
    }
}

